<app-header2></app-header2>
<app-dash-receptionnaire></app-dash-receptionnaire>


<section class="service_section layout_padding">
<h2 class="title-text">Produits du Type : {{ typeName }}</h2>

<!-- Bouton pour ajouter un produit -->
<button class="btn" (click)="addProduit()">Ajouter un produit</button>

<div class="produits-container">
  <div *ngFor="let produit of produits" class="produit-card">
    <p><b>Code du produit :</b> <span>{{ produit.codeProduit }}</span></p>
    <p><b>Nom du produit :</b> <span>{{ produit.nomProduit }}</span></p>
    <p><b>Libellé :</b> <span>{{ produit.libelle }}</span></p>
    <p><b>Prix :</b> {{ produit.prix }} TND</p>
    <p><b>Date :</b> <span>{{ produit.date | date: 'dd/MM/yyyy' }}</span></p>
    <p><b>Description :</b> <span>{{ produit.description }}</span></p>
    

    <div class="button-group">
      <!-- Bouton Edit -->
      <button (click)="editProduit(produit.id)">
        <i class="fas fa-pencil-alt"></i> Edit
      </button>
      <!-- Bouton Delete -->
      <button (click)="deleteProduit(produit.id)">
        <i class="fas fa-trash"></i> Delete
      </button>
    </div>
  </div>
</div>

<button class="btn" routerLink="/type_produit">Retour</button>

</section>