section {
    margin-top: -45em;
    margin-left: 20em;
}

.title-text, .btn {
    text-align: center;
    display: block;
    margin: 10px auto;
}

.add-btn {
    background-color: black;
    border: 2px solid yellow;
    padding: 10px 12px;
    border-radius: 5px;
    color: rgb(198, 210, 65);
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;
    width: 20%;  /* Adjust the width as needed */
}

.produits-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.produit-card {
    position: relative;
    width: 350px;
    background-image: url('/assets/img/a1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 25px;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.produit-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(128, 128, 128, 0.4);
    z-index: 1;
}

.produit-card > * {
    position: relative;
    z-index: 2;
}

.produit-card b {
    font-size: 1.4em;
}

.produit-card span {
    color: red;
    font-size: 1.4em;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 15px;
}

.button-group button {
    background: transparent;
    border: 2px solid yellow;
    padding: 10px 12px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
}

.btn {
    display: block;
    margin: 10px auto;
    width: 15%;
    background-color: black;
    border: 2px solid yellow;
    padding: 10px;
    border-radius: 5px;
    color: rgb(198, 210, 65);
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;
}

.title-text {
    text-align: center;
    margin-bottom: 20px;
}
