<app-header2></app-header2>
<body class="sub_page">
    <div class="hero_bg_box">
        <img src="assets/img/agill.jpg" alt="">
      </div>
   
    <!-- about section -->
  
    <section class="about_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ">
            <div class="img_container">
              <div class="img-box">
                <img src="assets/img/agilll.jpg" class="about_img1" alt="Station AGIL moderne" />
                <img src="assets/img/agil 2.jpg" class="about_img2" alt="Station AGIL moderne" />
              </div>
            </div>
          </div>
          <div class="col-md-6 li ">
            <div class="detail-box">
              <div class="heading_container ">
                <h2 class="font" >
                 <b>Qui sommes-nous?</b> 
                </h2> <br><br>
              </div>
              <p class="pargraphe">
                AGIL, filiale de la Société Nationale de Distribution des Pétroles (SNDP), est un leader national dans la distribution de produits pétroliers en Tunisie. Depuis sa création, AGIL s’engage à fournir des solutions énergétiques fiables, sûres et accessibles à travers un réseau dense de stations-service et une logistique performante. 
              </p>
              <p class="pargraphe">
                Résolument tournée vers l’innovation et le développement durable, AGIL accompagne la transition énergétique du pays tout en plaçant la qualité de service et la satisfaction client au cœur de ses priorités.
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- end about section -->
  
   
  
  
  
  
  
  </body>