 <!-- info section -->
 <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="info_logo">
            <a class="navbar-brand" href="index.html">
              <span>
                AGIL
              </span>
            </a>
            <p>
            est une entreprise publique tunisienne spécialisée dans la distribution de produits pétroliers et engagée dans la transition énergétique.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info_links">
            <h3>
                <b> lien utile</b>
            </h3>
            <ul>
              
              <li>
                <a href="https://www.agilis.tn/index/espaceclient">
                    https://www.agilis.tn/index/espaceclient
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/agil.com.tn/">
                    https://www.facebook.com/agil.com.tn/
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/agilenergytunisie/">
                    https://www.instagram.com/agilenergytunisie/
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info_info">
            <h3>
             <b>Contact Us</b> 
            </h3>
          </div>
          <div class="info_contact">
            <a href="" class="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                BP 762 Ave Mohamed Ali Akid, Tunis 1003
              </span>
            </a>
            <a href="" class="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Tel : + 216 71 707 222
              </span>
            </a>
            <a href="" class="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                boc@agil.com.tn
              </span>
            </a>
          </div>
        </div>
      <!--  <div class="col-md-3">
          <div class="info_form ">
            <h5>
             
            </h5>
            <form action="#">
              
            </form>
           
          </div>
        </div>-->
      </div>
    </div>
  </section>

  <!-- end info_section -->
