<app-header2></app-header2>

<!-- Section des liens d'actions -->
<div class="dashboard-actions">
  <div class="icon-container">
    <i class="fa-solid fa-user" routerLink="/profile"></i>
  </div>
  <div class="links-container">
    <a routerLink="/suivre-livraison" class="btn btn-outline-warning mb-4 text-center">
      <b>Suivre La livraison de mes commandes</b>
    </a>
    <a routerLink="/mes-commandes" class="btn btn-outline-warning mb-4 text-center">
      <b>📦 Voir mes commandes</b>
    </a>
  </div>
</div>

<!-- Section Types de Produits -->
<section class="service-section layout_padding">
  <div class="container">
    <div class="heading-container text-center">
      <h1 class="lo">Types Produits</h1>
    </div>

    <div class="row justify-content-center mb-5">
      <div class="col-12 col-md-8 position-relative search-input-wrapper">
        <i class="fas fa-search search-icon"></i>
        <input
          type="text"
          class="form-control custom-search"
          placeholder="Rechercher un type de produit..."
          [(ngModel)]="searchTerm"
          (input)="filterProduits()"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6 col-lg-4 mb-4" *ngFor="let elt of filteredTypeProduits">
        <div class="detail-box">
          <h2 class="de">
            <b>* Type de produit :</b> <span>{{ elt.name }}</span>
          </h2>
          <h2 class="de">
            <b>* Description de Type :</b> <span>{{ elt.description }}</span>
          </h2><br><br>
          <button class="single_page_btn btn btn-outline-warning" (click)="viewProduitsByType(elt.id)">
            <i class="fas fa-sign-in-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
