<div class="hero_area1">
  <div class="hero_bg_box1">
      <img src="assets/img/agill.jpg" alt="">
    </div>
  
    <header class="header_section">
      <div class="header_top">
        <div class="container-fluid">
          <div class="contact_link-container">
            <a href="" class="contact_link1">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                BP 762 Ave Mohamed Ali Akid, Tunis 1003
              </span>
            </a>
            <a href="" class="contact_link2">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Tel : 71 707 222
              </span>
            </a>
            <a href="" class="contact_link3">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                boc@agil.com.tn
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="index.html">
              <span>
                <img src="assets/img/logo.png" alt="" class="imgagil">
              </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""></span>
            </button>
      
            <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link"
                     routerLink="/home"
                     routerLinkActive="active"
                     [routerLinkActiveOptions]="{ exact: true }">
                    Accueil
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"
                     routerLink="/about"
                     routerLinkActive="active"
                     [routerLinkActiveOptions]="{ exact: true }">
                    À propos
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"
                     routerLink="/services"
                     routerLinkActive="active"
                     [routerLinkActiveOptions]="{ exact: true }">
                    Services
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"
                     routerLink="/login"
                     routerLinkActive="active"
                     [routerLinkActiveOptions]="{ exact: true }">
                    Se connecter
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      
    </header>
    <section class=" slider_section ">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1><br>
                      Agil, présent partout en <br><br>Tunisie, au service de tous<br><br> les Tunisiens. <br><br>
                      <span class="siz">
                        Nous façonnons une réalité à l’image de vos visions
                      </span>
                    </h1>
                  
                    <div class="btn-box">
                      <a href="/about" class="btn-1"> En savoir plus </a>
            
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      <br>
                      عجيل في تونس الكل للتوانسة الكل<br><br>
                      <span class="siz">
                        نصنع واقعاً يعكس رؤاكم
                      </span>
                    </h1>
                    
                    <div class="btn-box">
                      <a href="/about" class="btn-1"> اقرأ المزيد </a>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1><br>
                      Agil, everywhere in Tunisia,<br><br> for every Tunisian. <br><br>
                      <span class="siz">
                        We shape a reality that reflects your vision.
                      </span>
                    </h1>
                    
                    <div class="btn-box">
                      <a href="/about" class="btn-1"> Read more </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container idicator_container">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
        </div>
      </div>
    </section>
</div>
<app-service-home></app-service-home>
<app-footer></app-footer>
   