<app-header2></app-header2>
<app-dash-receptionnaire></app-dash-receptionnaire>

<div class="container">
    <h2>Gestion des Compartiments</h2>
  
    <!-- Form for adding a new compartiment -->
    <div class="form">
      <input type="text" placeholder="Référence" [(ngModel)]="nouvelleCompartment.reference">
      <input type="number" placeholder="Capacité Max" [(ngModel)]="nouvelleCompartment.capaciteMax">
      <select [(ngModel)]="nouvelleCompartment.statut">
        <option value="VIDE">VIDE</option>
        <option value="EN_COURS">EN_COURS</option>
        <option value="PLEIN">PLEIN</option>
      </select>
      <select [(ngModel)]="nouvelleCompartment.citerneId" required>
        <option *ngFor="let citerne of citernes" [value]="citerne.id">
          {{ citerne.reference }}
        </option>
      </select>
      
      <button type="button" class="btn btn-warning" (click)="ajouterCompartiment()">
        <i class="fa fa-plus-circle">&nbsp;&nbsp;</i><b>Ajouter</b>
      </button>
    </div>


    <!-- Table to display compartiments -->
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Référence</th>
          <th>Capacité Max</th>
          <th>Statut</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let compartiment of compartiments">
          <td>{{ compartiment.id }}</td>
          <td>{{ compartiment.reference }}</td>
          <td>{{ compartiment.capaciteMax }}</td>
          <td>{{ compartiment.statut }}</td>
          <td>
            <button type="button" class="btn btn-warning" (click)="editCompartiment(compartiment.id)">
                <i class="fa-solid fa-pen"></i>
            </button>
            &nbsp;
            <button type="button" class="btn btn-warning" (click)="supprimerCompartiment(compartiment
            .id)">
                <i class="fa-solid fa-trash"></i>
            </button>
        </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Modal for editing compartiment -->
    <div *ngIf="compartimentEnCours" class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>Modifier le Compartiment</h2>
    
        <input type="text" [(ngModel)]="compartimentEnCours.reference" placeholder="Référence" />
        <input type="number" [(ngModel)]="compartimentEnCours.capaciteMax" placeholder="Capacité Max" />
        <select [(ngModel)]="compartimentEnCours.statut">
          <option value="VIDE">VIDE</option>
          <option value="EN_COURS">EN_COURS</option>
          <option value="PLEIN">PLEIN</option>
        </select>
        <button (click)="sauvegarderModification()">Enregistrer</button>
      </div>
    </div>
    
  

  